name: Build web page

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Build
      run: |
        npm install
        npm run build
    - name: Upload web artifacts
      uses: actions/upload-pages-artifact@v4.0.0
      with:
        path: dist/
    - name: Deploy to GitHub Pages
      uses: actions/deploy-pages@v4.0.5
      
